<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?ifndef NetDesktopRuntimeVersion?>
    <?define NetDesktopRuntimeVersion="8.0.22" ?>
  <?endif?>
  <?ifndef NetDesktopRuntimeExe?>
    <?define NetDesktopRuntimeExe="redist\windowsdesktop-runtime-$(var.NetDesktopRuntimeVersion)-win-x64.exe" ?>
  <?endif?>
  <?ifndef NetDesktopRuntimeUrl?>
    <?define NetDesktopRuntimeUrl="https://aka.ms/dotnet/8.0/windowsdesktop-runtime-win-x64.exe" ?>
  <?endif?>
  <?ifndef FoToolboxUserMsiPath?>
    <?define FoToolboxUserMsiPath="FoToolbox.User.msi" ?>
  <?endif?>
  <?ifndef FoToolboxMachineMsiPath?>
    <?define FoToolboxMachineMsiPath="FoToolbox.Machine.msi" ?>
  <?endif?>
  <?ifndef BundleName?>
    <?define BundleName="FOtoolbox Bundle" ?>
  <?endif?>
  <?ifndef BundleVersion?>
    <?define BundleVersion="1.0.0.0" ?>
  <?endif?>
  <?ifndef BundleManufacturer?>
    <?define BundleManufacturer="BenJones" ?>
  <?endif?>
  <?ifndef BundleUpgradeCode?>
    <?define BundleUpgradeCode="{ED449692-157D-46FC-A96D-AFB178DF60F1}" ?>
  <?endif?>
  <?ifndef BundleId?>
    <?define BundleId="BenJones.FOtoolbox.Bundle" ?>
  <?endif?>
  <?ifndef LicenseUrl?>
    <?define LicenseUrl="https://opensource.org/licenses/MIT" ?>
  <?endif?>

  <Bundle Id="$(var.BundleId)" Name="$(var.BundleName)" Version="$(var.BundleVersion)" Manufacturer="$(var.BundleManufacturer)" UpgradeCode="$(var.BundleUpgradeCode)">
    <Variable Name="InstallPerMachine" Type="numeric" Value="0" />
    <BootstrapperApplication SourceFile="WixStandardBootstrapperApplication">
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
                                              ThemeFile="theme\HyperlinkTheme.xml"
                                              LocalizationFile="theme\HyperlinkTheme.wxl"
                                              LicenseUrl="$(var.LicenseUrl)"
                                              LogoFile="theme\logo.png" />
    </BootstrapperApplication>

    <Variable Name="NetDesktopRuntime80Version" Type="version" Value="0.0.0" />
    <util:RegistrySearch Id="NetDesktopRuntime80"
                         Root="HKLM"
                         Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedfx\Microsoft.WindowsDesktop.App"
                         Value="Version"
                         Variable="NetDesktopRuntime80Version" />

    <Chain>
      <PackageGroupRef Id="NetDesktopRuntime80" />
      <MsiPackage Id="FoToolboxMsiUser" SourceFile="$(var.FoToolboxUserMsiPath)" InstallCondition="InstallPerMachine = 0" />
      <MsiPackage Id="FoToolboxMsiMachine" SourceFile="$(var.FoToolboxMachineMsiPath)" InstallCondition="InstallPerMachine = 1" />
    </Chain>
  </Bundle>

  <Fragment>
    <PackageGroup Id="NetDesktopRuntime80">
      <ExePackage Id="NetDesktopRuntime80x64"
                  SourceFile="$(var.NetDesktopRuntimeExe)"
                  DownloadUrl="$(var.NetDesktopRuntimeUrl)"
                  Compressed="yes"
                  Cache="keep"
                  PerMachine="yes"
                  Vital="yes"
                  DetectCondition="NetDesktopRuntime80Version AND NetDesktopRuntime80Version &gt;= v$(var.NetDesktopRuntimeVersion)"
                  InstallArguments="/install /quiet /norestart"
                  RepairArguments="/repair /quiet /norestart"
                  UninstallArguments="/uninstall /quiet /norestart" />
    </PackageGroup>
  </Fragment>
</Wix>
