<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?ifndef InstallRoot?>
    <?define InstallRoot="LocalAppDataFolder" ?>
  <?endif?>
  <?ifndef StartMenuRoot?>
    <?define StartMenuRoot="ProgramMenuFolder" ?>
  <?endif?>
  <?ifndef StartMenuRegistryRoot?>
    <?define StartMenuRegistryRoot="HKCU" ?>
  <?endif?>
  <?ifndef StartMenuRegistryKey?>
    <?define StartMenuRegistryKey="Software\\FoToolbox" ?>
  <?endif?>

  <Fragment>
    <StandardDirectory Id="$(var.InstallRoot)">
      <Directory Id="INSTALLFOLDER" Name="FoToolbox">
        <Directory Id="BIN" Name="bin">
          <Directory Id="PLUGINS" Name="plugins">
            <Directory Id="PLUGIN_HELLOPLUGIN" Name="HelloPlugin" />
            <Directory Id="PLUGIN_QUERYBUILDER" Name="QueryBuilder" />
            <Directory Id="PLUGIN_TABLEENTITYBROWSER" Name="TableEntityBrowser" />
            <Directory Id="PLUGIN_ODATAPOSTBUILDER" Name="ODataPostBuilder" />
            <Directory Id="PLUGIN_DUALWRITEMAPBROWSER" Name="DualWriteMapBrowser" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="$(var.StartMenuRoot)">
      <Directory Id="ProgramMenuFoToolbox" Name="FOtoolbox" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="FoToolboxFiles">
      <!-- Host binaries -->
      <Component Id="FoToolboxHostExe" Guid="{8C4728D8-3D5C-4C17-9B5E-B0F6C0D3C1D1}" Directory="BIN">
        <File Id="FoToolbox.Host.exe" Source="$(var.SourceDir)\FoToolbox.Host.exe" KeyPath="yes" />
        <File Id="FoToolbox.Host.deps.json" Source="$(var.SourceDir)\FoToolbox.Host.deps.json" />
        <File Id="FoToolbox.Host.dll" Source="$(var.SourceDir)\FoToolbox.Host.dll" />
        <File Id="FoToolbox.Host.runtimeconfig.json" Source="$(var.SourceDir)\FoToolbox.Host.runtimeconfig.json" />
        <File Id="FoToolbox.Core.dll" Source="$(var.SourceDir)\FoToolbox.Core.dll" />
        <File Id="FoToolbox.SDK.dll" Source="$(var.SourceDir)\FoToolbox.SDK.dll" />
        <File Id="FoToolbox.Updater.dll" Source="$(var.SourceDir)\FoToolbox.Updater.dll" />
        <File Id="e_sqlite3.dll" Source="$(var.SourceDir)\e_sqlite3.dll" />
        <File Id="Microsoft.Data.Sqlite.dll" Source="$(var.SourceDir)\Microsoft.Data.Sqlite.dll" />
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.SourceDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.SourceDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
        <File Id="Microsoft.Identity.Client.dll" Source="$(var.SourceDir)\Microsoft.Identity.Client.dll" />
        <File Id="Microsoft.IdentityModel.Abstractions.dll" Source="$(var.SourceDir)\Microsoft.IdentityModel.Abstractions.dll" />
        <File Id="SQLitePCLRaw.batteries_v2.dll" Source="$(var.SourceDir)\SQLitePCLRaw.batteries_v2.dll" />
        <File Id="SQLitePCLRaw.core.dll" Source="$(var.SourceDir)\SQLitePCLRaw.core.dll" />
        <File Id="SQLitePCLRaw.provider.e_sqlite3.dll" Source="$(var.SourceDir)\SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>

      <!-- Plugins -->
      <Component Id="FoToolboxPluginHello" Guid="{C1C44D43-8E90-4EF4-B681-9E4C831B8F12}" Directory="PLUGIN_HELLOPLUGIN">
        <File Id="HelloPlugin.dll" Source="$(var.SourceDir)\plugins\HelloPlugin\HelloPlugin.dll" KeyPath="yes" />
      </Component>
      <Component Id="FoToolboxPluginQueryBuilder" Guid="{8D2B0C47-2B72-4B8D-9E7A-8F1DAB232B1D}" Directory="PLUGIN_QUERYBUILDER">
        <File Id="QueryBuilder.dll" Source="$(var.SourceDir)\plugins\QueryBuilder\QueryBuilder.dll" KeyPath="yes" />
      </Component>
      <Component Id="FoToolboxPluginTableEntityBrowser" Guid="{12BB533F-B682-4A81-B1C6-C5A2C6D3C2C2}" Directory="PLUGIN_TABLEENTITYBROWSER">
        <File Id="TableEntityBrowser.dll" Source="$(var.SourceDir)\plugins\TableEntityBrowser\TableEntityBrowser.dll" KeyPath="yes" />
      </Component>
      <Component Id="FoToolboxPluginODataPostBuilder" Guid="{F6BB58D4-C84E-4F35-9C2A-B9F6D3D1C048}" Directory="PLUGIN_ODATAPOSTBUILDER">
        <File Id="ODataPostBuilder.dll" Source="$(var.SourceDir)\plugins\ODataPostBuilder\ODataPostBuilder.dll" KeyPath="yes" />
      </Component>
      <Component Id="FoToolboxPluginDualWriteMapBrowser" Guid="{5D1B8280-9F8E-4545-8F2B-6267F943E1E7}" Directory="PLUGIN_DUALWRITEMAPBROWSER">
        <File Id="DualWriteMapBrowser.dll" Source="$(var.SourceDir)\plugins\DualWriteMapBrowser\DualWriteMapBrowser.dll" KeyPath="yes" />
      </Component>

      <!-- Start menu shortcut -->
      <Component Id="FoToolboxStartMenuShortcut" Guid="{5B18C0A9-A5F2-4E8C-9F3E-798A80C511C3}" Directory="ProgramMenuFoToolbox">
        <Shortcut Id="FoToolboxStartShortcut" Name="FOtoolbox" Description="Launch FOtoolbox" Target="[BIN]FoToolbox.Host.exe" WorkingDirectory="BIN" Directory="ProgramMenuFoToolbox" />
        <RemoveFolder Id="RemoveProgramMenuFoToolbox" Directory="ProgramMenuFoToolbox" On="uninstall" />
        <RegistryValue Root="$(var.StartMenuRegistryRoot)" Key="$(var.StartMenuRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
